.header {
	position: relative;
	background: linear-gradient(
		90.04deg,
		var(--clr-primary) 0.02%,
		var(--clr-accent) 99.97%
	);
	padding-block: var(--size-500);
	padding-inline: 6rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	&__wrapper {
		display: flex;
		align-items: center;
		flex: 1;
	}
	&__logo {
		text-transform: uppercase;
	}
	&__navigation {
		width: 100%;
		margin-left: 2rem;
		ul {
			list-style: none;
			display: flex;
			align-items: center;
			li > a {
				text-decoration: none;
				color: var(--clr-neutral);
				padding: 0.5em;
			}
		}
	}
	&__panel {
		color: var(--clr-neutral);
		display: flex;
		// flex: 0.2;
		> .MuiSvgIcon-root {
			cursor: pointer;
			font-size: var(--fs-800);
			margin-left: 1rem;
		}
	}
	&__menu {
		display: none !important;
		visibility: hidden !important;
	}
	&__search {
		width: 100%;

		&-text--display {
			display: none;
		}
		&-icon {
			display: none !important;
		}
		&-input {
			display: none;
			width: 60%;
			background-color: white;
			border-radius: 116px;
			padding: 0.5rem;
			input {
				width: 100%;
				outline: none;
				border: none;

				background-color: transparent;
			}
			> .MuiSvgIcon-root {
				color: var(--clr-secondary);
				cursor: pointer;
			}
			&--active {
				display: flex;
				align-items: center;
				justify-content: space-between;
			}
		}
	}
}
@media (max-width: 40em) {
	.header {
		padding-inline: 1.5rem;
		&__panel {
			> .MuiSvgIcon-root {
				font-size: var(--fs-600);
			}
		}
		&__menu {
			display: block !important;
			visibility: visible !important;
		}
		&__navigation {
			position: absolute;
			display: none;
			visibility: hidden;
			margin: 0;
			top: 4.75rem;
			left: 0;
			z-index: 1001;
			width: 100%;
			background-color: white;
			padding-block: 1.5rem;

			&--active {
				display: grid;
				place-items: center;
				visibility: visible;
				transition: all 0.4s ease-in-out;
			}
			ul {
				flex-direction: column;
				li:last-child {
					display: none;
				}
				li {
					padding: 1.5rem;
					text-align: center;
					a {
						color: var(--clr-secondary);
					}
				}
			}
		}
	}
}
